<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Adventures</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %> 
  <h1>Your Adventures</h1>
  <ul>
    <% adventures.forEach((adventure)=>{ %>
     <li>
        <a href="/users/<%= user._id %>/adventures/<%= adventure._id %>">
            <%= adventure.destination %>
        </a>
     </li>
    <% }) %>
  </ul>
  <a href="/users/<%=user._id%>/adventures/new">Add an Adventure</a>
</body>
</html>