<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <title><%= adventure.destination %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="show-body">
    <div class="show-header">
      <h1><%= adventure.destination %></h1>
      <div class="show-sidebar">
        <div class="show-actions">
          <div class="show-memories">
            <p><%= adventure.memories %></p>
          </div>
          <a href="/users/<%= user._id %>/adventures/<%= adventure._id %>/edit">
            Edit this adventure
          </a>
          <form action="/users/<%= user._id %>/adventures/<%= adventure._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove this adventure</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

