<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= adventure.destination %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= adventure.destination %></h1>
  <h2>Memories</h2> 
    <p><%= adventure.memories %></p>
    <a href="/users/<%= user._id %>/adventures/<%= adventure._id %>/edit">
    Edit this adventure</a>
  <form
    action="/users/<%= user._id %>/adventures/<%= adventure._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Remove this adventure</button>
  </form>
</body>
</html>
